<h2>My Heroes</h2>
<div class="row">
     <div class="col-sm-5">
        <label for="new-hero">Hero name: </label>
        <br/>
        <input class="form-control" id="new-hero" #heroName />
        <br/>
        <button type="button" class="btn btn-primary" (click)="add(heroName.value); heroName.value=''">
            Add hero
          </button>
    </div> 
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
        
        <ul class="list-group heroes">
            <li class="list-group-item" *ngFor="let hero of heroes">
                <a routerLink="/detail/{{hero.id}}" style="text-decoration: none;">
                    <span class="btn btn-success" style="margin-right:1rem;">{{hero.id}}</span>
                     <span>{{hero.name}}</span>
                </a>
            </li>
        </ul>
    </div>
    
</div>